/*all products*/
h1{
    text-align: center;
    font-size: 300%;
}
.container {
   margin-left: auto;
   margin-right: auto;
   width: 1000px;
}
.btncart {
    background-color: black;
    color: beige;
    width: 125px;
    padding:1%;
}
.btncart:hover {
    background-color: brown;
}

.products{
    
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.product{
    border: 1px solid rgb(207, 203, 203);
    padding: 0.7%;
    background-color: beige;
    width:max;
}
.description{
    text-align: center;
}
.details{
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;

}

